# Node
node_modules/
.pnpm-store/
pnpm-lock.yaml

# Env
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
.next/
out/
coverage/

# Editor
.DS_Store
.idea/
.vscode/

# Prisma
apps/backend/prisma/dev.db

# Hardhat
apps/contracts/cache/
apps/contracts/artifacts/
